<!-- set publish rate and Ethernet DAQ speed (in hertz), max 1000Hz -->
<!-- set filtering (0 = No filter; 1 = 500 Hz; 2 = 150 Hz; 3 = 50 Hz; 4 = 15 Hz; 5 = 5 Hz; 6 = 1.5 Hz) -->
<launch>
	<node
		pkg="onrobot_hex_ft_sensor"
		type="etherdaq_node"
		name="etherdaq_node"
		args="--address 192.168.15.4 --rate 100 --filter 3 --frame_id ft_sensor_link"
		output="screen"
	/>
</launch>
